api_key.py
# Python Bytecode Files
__pycache__/
*.py[cod]

/Users/lucasoltero/PycharmProjects/Avoca_Prospecting/data/HVAC_Query_Test/
Scraps/


# Python virtual environments
env/
venv/
ENV/
*.env

# PyCharm specific files
.idea/

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# Log files
*.log

# Unit test coverage reports
.coverage
nosetests.xml
coverage.xml
*.cover

# Pytest cache
.pytest_cache/

# mypy type checking
.mypy_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code specific files
.vscode/

# JetBrains Rider config files (if using other JetBrains IDEs)
.idea/

# Python distutils and build artifacts
build/
dist/
*.egg-info/

# Package manager files (optional, if you're using these)
Pipfile.lock
pyproject.toml

# Flask-specific files (optional)
instance/
.webassets-cache

# Django specific files (optional)
*.log
*.pot
*.pyc
*.pyo
db.sqlite3

